* {
  box-sizing: border-box;
}
html {
  font-family: "roboto";
  font-size: 16px;
}
body {
  margin: 0px;
}
h1 {
  font-size: 1em;
}

h2,
h3 {
  color: rgb(105, 105, 105);
  font-family: "Inter";
}
.header > p::after {
  content: "🦸‍♀️";
}
.hire-me {
  position: absolute;
  flex-flow: column wrap;
  right: 2rem;
  top: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #fcb10d;
  color: black;
  font-weight: 600;
  font-size: 1.5em;
  display: flex;
}

.hire-me:hover {
  color: #fcb10d;
  background-color: black;
}
@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
}
.navigation {
  display: none;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: right;
  }
}
.iam {
  font-size: 1.25em;
}

.header {
  text-align: center;
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  background-color: #678892;
  color: whitesmoke;
  position: relative;
}
.header.navigation {
  text-align: right;
  padding: 3rem 1rem;
}
.nav-link {
  padding: 0.25rem 0.5rem;
  color: white;
  text-decoration: none;
}

.nav-link.contact {
  margin-right: 10rem;
}
.nav-link:hover {
  color: black;
  background-color: whitesmoke;
}
.nav-link:active {
  color: black;
  background-color: lightgrey;
}
.nav-link + .nav-link {
  margin-left: 1rem;
}
.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}
.main > * + * {
  margin-top: 3rem;
}

.main > * {
  border-top: 0.125rem solid #678892;
}

.main > *:first-child {
  border-top: none;
}
.profile {
  border-top: none;
}

.experience-heading,
.experience-subheading {
  display: inline-block;
}
.experience-subheading {
  margin-left: 60px;
}
.experience-subheading.sub {
  margin-left: 200px;
}
